body {
    box-sizing: border-box;
}


/* header_fnav */

#header_fnav {
    background-color: orange;
    display: flex;
    justify-content: space-around;
    height: 25px;
    transition: 0.4s;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 9;
}

#xyz {
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-align: center;
    margin-top: 3rem;
}

#zyx {
    color: red;
    text-align: center;
    font-weight: 600;
    margin-top: 4rem;
}

#header_fnav a {
    text-decoration: none;
    color: black;
}

span {
    color: red;
    font-weight: 700;
}


/* header */

.header {
    background-color: white;
    overflow: hidden;
    transition: 0.4s;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 9;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    font-size: 18px;
    line-height: 0px;
    font-weight: 700;
}

.header-right a:hover {
    border-bottom: 2px solid red;
}

.header .logo {
    width: 100px;
    height: auto;
}

.header-right {
    float: right;
    font-size: 60px;
    margin-top: 30px;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}


/* hover nacbar */

#mySidenav {
    text-align: left;
}

#mySidenav a {
    display: flex;
    position: fixed;
    padding: 16px;
    margin-top: 110px;
    width: 60px;
    text-decoration: none;
    font-size: 32px;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 5;
}

.whatapp {
    top: 20px;
    color: green;
    background-color: white;
}

.facebook {
    top: 80px;
    color: blue;
    background-color: white;
}

.linkedin {
    top: 140px;
    color: blue;
    background-color: white;
}

.twitter {
    top: 200px;
    color: skyblue;
    background-color: white;
}

@media (max-width:500px) {
    #mySidenav a {
        display: block;
        position: fixed;
        padding: 16px;
        margin-top: 45px;
        width: 100px;
        text-decoration: none;
        font-size: small;
        border-radius: 0 5px 5px 0;
    }
}

.spa{
    color:red;
    border-bottom:2px slid red;
}
/* Style inputs */

input[type=text],
select,
textarea {
    width: 96%;
    padding: 16px;
    height: 67%;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 11px;
    resize: vertical;
    font-size: 13px;
}

input[type=submit] {
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 97%;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://img.freepik.com/free-vector/college-students-sitting-desks-classroom-listening-teacher_74855-10516.jpg?size=626&ext=jpg&ga=GA1.2.1378614940.1651564898);
    filter: brightness(160%);
    height: 500;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(136, 46, 46);
    font-size: 25px;
    font-family: fantasy;
}

.hero-text p {
    font-weight: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}


/* Style the container/contact section */

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    width: 40%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-image: url(D:\projects\robin\img\freelancerwork.jpg);
}


/* Create two columns that float next to eachother */

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}


/* card */

#cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.imgclass {
    border-radius: 20px;
    width: 165px;
    height: 160px;
    transition: transform .2s
}

.imgclass:hover {
    transform: scale(1.04)
}

#cards h4 {
    color: orangered;
}

#cards p {
    font-size: 11px;
    color: black;
}

#center{
 text-align: center;
 margin-top: 2rem;
 font-size: 41px;
 font-weight: 700;
color:black;
font-family: 'Oswald', sans-serif;
}

.mam{
    color:red;
}

#head{
margin-left:106px;
margin-top: 29px;
}

.heading{
    margin-left: 105px;
    margin-top: 34px;
}

/*
.cards_link {
    color: blue;
    text-decoration: none;
    font-size: 15px;
}

.cards_link:hover {
    color: rgb(22, 15, 15);
}


.cards_link {
    color: #64968c;
    text-decoration: none;
}

.cards_link:hover {
    color: rgb(22, 15, 15);
}

@media (max-width:500px) {}

@media (max-width:500px) {
    #card {
        display: grid;
         width: 320px;
        height: 200px; 
        padding: 25px;
        margin: 15px;
        border: 1px dotted green;
    }
}

*/


#cards_org {
    display: flex;
    justify-content: space-around;
    /* width: 320px;
    height: 200px; */
    padding: 15px;
    margin: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: transform .2s;
}

.imgclass {
    border-radius: 20px;
    width: 265px;
    height: 260px;
}

#cards_org p {
    width: 100px;
    height: auto;
    font-size: 15px;
    color: rgb(32, 24, 15);
}




/* footer */

footer {
    position: relative;
    bottom: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom p a {
    color: #44bae8;
    font-size: 16px;
    text-decoration: none;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footer-menu {
    float: right;
    z-index:2;
}

.footer-menu ul {
    display: flex;
}

.footer-menu ul li {
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a {
    color: #cfd2d6;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: #27bcda;
}

@media (max-width:500px) {
    .footer-menu ul {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

.img1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 560;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("https://img.freepik.com/free-photo/colleagues-studying-together-exam_23-2149038427.jpg?t=st=1651643784~exp=1651644384~hmac=912751cbee9b47e13cd58cffd621ec888619d23700567693939c585c47341cd1&w=826");
    background-attachment: fixed;
    width:102%;
}

#form1 {
    position: absolute;
    right: 70px;
    top: 30px;
    background-color: black;
    background-size: 600px 200px;
    background-repeat: no-repeat;
    padding: 21px;
    width: 26%;
}

#span1 {
    color: rgb(255, 0, 0);
}

.side {
    position: absolute;
    top: 39px;
    left: 40px;
    color: #e7e7e7;
    font-size: 24px;
}

.side2 {
    position: absolute;
    top: 6rem;
    color: rgb(255, 0, 0);
    left: 3rem;
    font-size: 4rem;
}

.side3 {
    position: absolute;
    top: 17rem;
    left: 3rem;
    color: white;
}

.fa-image {
    position: absolute;
    left: 20px;
    top: 27rem;
    font-size: 23px;
    color: white;
}

.choose{
    text-align: center;
    margin-top: 19rem;
    font-size: 16px;
    margin-bottom: 5rem;

}

.why{
    font-size: 40px;
    color:black;
    border-bottom: red;

}

.us{
    color:red;
    font-size: 40px;
}

.card-group-1{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 50px;

}

.card-group-2{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin-bottom: 10px;
}

.card-group-3{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 50px;
    margin-bottom: 40px;
}
